### Aim - This Perdiction is done with the help of Pipline and the Algorithm used is RandomForestRegressor
### Author - Prajwal Ghadi
### Date - 25-11-2021

#### Importing Required Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [2]:
### Loading Data using Pandas

BMS_dataset = pd.read_csv("D:/Machine Learning Projects Files/Big Mart Prediction/train_data.csv")
BMS_dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
### Splitting the X and Y Values

X = BMS_dataset.drop("Item_Outlet_Sales", axis = 1)
y = BMS_dataset.Item_Outlet_Sales

In [10]:
### Now Creating new 3 Binary columns using BaseEstimator

from sklearn.base import BaseEstimator

class outletTypeEncoder(BaseEstimator):
    
    def __init__(self):
        pass
    
    def fit(self, documents, y = None):
        return self
    
    def transform(self, x_dataset):
        x_dataset['Outlet_grocery_store'] = (x_dataset["Outlet_Type"] == "Grocery Store") * 1
        x_dataset['outlet_supermarket_3'] = (x_dataset["Outlet_Type"] == 'Supermarket Type3') * 1
        x_dataset['outlet_identifier_OUT027'] = (x_dataset["Outlet_Identifier"] == 'OUT027') * 1
        
        return x_dataset

In [11]:
pre_process = ColumnTransformer(remainder = 'passthrough', 
                               transformers = [('drop_Columns', 'drop', ['Item_Identifier', 'Item_Fat_Content', 
                                                            'Item_Type', 'Outlet_Identifier', 
                                                            'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']),
                                             ('Weight_imputer', SimpleImputer(strategy = 'mean'), ["Item_Weight"]), 
                                             ('Scale', StandardScaler(), ['Item_MRP'])])

In [12]:
### Creating Pipeline 

from sklearn.pipeline import Pipeline
model_Pipeline = Pipeline(steps = [('getoutlet_binary', outletTypeEncoder()),
                                  ('preprocessing', pre_process),
                                  ('model', RandomForestRegressor())
                                  ])

model_Pipeline.fit(X, y)

model_Pipeline.predict(X)

array([4024.041936,  647.051072, 2220.629424, ..., 1246.44418 ,
       1632.488336,  940.628924])

In [14]:
test_data = pd.read_csv("D:/Machine Learning Projects Files/Big Mart Prediction/test_data.csv")
test_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [15]:
model_Pipeline.predict(test_data)

array([1512.66431 , 1255.945146,  643.8286  , ..., 1526.126786,
       4680.680528, 1655.87789 ])