## Titanic DataSet of Kaggle

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Reading Train Data of Titanic

In [2]:
Train_data = pd.read_csv('D:/TopMentor/Kaggle DataSets/Titanic DataSet/train.csv')
Train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Reading TestData of Titanic

In [3]:
Test_data = pd.read_csv('D:/TopMentor/Kaggle DataSets/Titanic DataSet/test.csv')

Test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### Create Columns List which we have to Remove from Dataframe

In [4]:
Columns_list_remove = ['Name', 'Ticket', 'Cabin', 'Embarked']

### Removing unnecessary Columns from Both Train and Test Dataset

In [5]:
Train_data = Train_data.drop(Columns_list_remove, axis = 'columns')
Test_data = Test_data.drop(Columns_list_remove, axis = 'columns')

### checking of Null Values of Both Train and Test Dataset.

In [6]:
print('Null Values of Train_data\n', Train_data.isnull().sum())
print('Null Values of Test_data\n', Test_data.isnull().sum())

Null Values of Train_data
 PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
dtype: int64
Null Values of Test_data
 PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Fare            1
dtype: int64

## Checking the Percentage of Null Values Present in Age.

In [7]:
print('Percentage of Train_data[Age]', 177 / len(Train_data['Age']) * 100)
print('Percentage of Train_data[Age]', 86 / len(Test_data['Age']) * 100)

Percentage of Train_data[Age] 19.865319865319865
Percentage of Train_data[Age] 20.574162679425836

### Handling the Null Values using Mean method or ffill, bfill method

In [8]:
Train_data.Age = Train_data['Age'].ffill()
Test_data.Age = Test_data['Age'].ffill()
Test_data.Fare = Test_data.Fare.ffill()

In [9]:
Train_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

### Handling Categorical Data by Using LabelEncoder from Sklearn.Preprocessing

In [10]:
from sklearn.preprocessing import LabelEncoder

LE = LabelEncoder()
Train_data['Sex'] = LE.fit_transform(Train_data['Sex'])
Test_data['Sex'] = LE.fit_transform(Test_data['Sex'])

In [11]:
### Checking Correlation of Both Train and Test Dataset.

In [12]:
Train_data.corr()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.042939,0.026653,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.543351,-0.065571,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,0.131900,-0.291157,0.083081,0.018443,-0.549500
Sex,0.042939,-0.543351,0.131900,1.000000,0.058415,-0.114631,-0.245489,-0.182333
Age,0.026653,-0.065571,-0.291157,0.058415,1.000000,-0.206104,-0.165191,0.083417
SibSp,-0.057527,-0.035322,0.083081,-0.114631,-0.206104,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.245489,-0.165191,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,-0.182333,0.083417,0.159651,0.216225,1.000000

In [13]:
Test_data.corr()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.026751,0.023245,-0.019013,0.003818,0.043080,0.008764
Pclass,-0.026751,1.000000,0.108615,-0.391077,0.001087,0.018721,-0.577488
Sex,0.023245,0.108615,1.000000,0.031567,-0.099943,-0.159120,-0.192225
Age,-0.019013,-0.391077,0.031567,1.000000,-0.086738,-0.010557,0.294018
SibSp,0.003818,0.001087,-0.099943,-0.086738,1.000000,0.306895,0.172031
Parch,0.043080,0.018721,-0.159120,-0.010557,0.306895,1.000000,0.230409
Fare,0.008764,-0.577488,-0.192225,0.294018,0.172031,0.230409,1.000000

### Creating X and y Values from Train_data for Model Selection

In [14]:
X = Train_data.drop(['Survived'], axis='columns')
y = Train_data.Survived

### Creating X Value from Test_data for Model_Predication

In [15]:
X_Test = Test_data

### Creating Model_Selection Using Train_Test_Split Method

In [41]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 47)

### Checking of Accuracy Using LinearRegression Algorithm

In [42]:
from sklearn.linear_model import LinearRegression

LR = LinearRegression()
LR.fit(X_train, y_train)

LinearRegression()

In [43]:
LR.score(X_test, y_test)

0.4024406566938644

### Checking of Accuracy Using DecisionTreeClassifier

In [44]:
from sklearn.tree import DecisionTreeClassifier

DTC = DecisionTreeClassifier()
DTC.fit(X_train, y_train)
DTC.score(X_test, y_test)

0.7282913165266106

### Checking of Accuracy Using RandomForestClassifier

In [61]:
from sklearn.ensemble import RandomForestClassifier

RFC = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
RFC.fit(X_train, y_train)
RFC.score(X, y)

0.8608305274971941

### RandomForestClassifier having Highest Accuracy Score that's why we are Predicting X_test (Test_data) by it.

In [46]:
Train_Pred = RFC.predict(X_test)
Test_Pred = RFC.predict(X_Test)
Test_Pred.shape

(418,)

### Now Checking R2_Score, mean_absolute_error, and mean_squared_error

In [47]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [48]:
r2_score(y_test, Train_Pred)

0.24193762441937638

In [49]:
mean_absolute_error(y_test, Train_Pred)

0.1792717086834734

In [50]:
mean_squared_error(y_test, Train_Pred)

0.1792717086834734

### Creating New DataFrame using PassengerID of Test_data and Predicated Values of Test_data

In [51]:
Final_Data = pd.DataFrame({'PassengerID': Test_data.PassengerId, 'Survived' : Pred})
Final_Data

     PassengerID  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

### Creating csv file of Final_Data set

In [52]:
Final_Data.to_csv('MySubmission.csv', index = False)

In [53]:
Submission = pd.read_csv('MySubmission.csv')
Submission.shape

(418, 2)